@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    min-width: 768px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,1,1, 0.2);
}

/* Site navigation */

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__logo-link {
    position: absolute;
    display: flex;
justify-content: center;
    z-index: 10;

}

.navigation__list {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin: 0;
    padding: 0 6%;

    list-style: none;
}

.navigation__item {
    width: 25%;
    height: 56px;
}

.navigation__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.navigation__item:first-child>.navigation__link,
.navigation__item:nth-child(2)>.navigation__link {
    justify-content: flex-start;
}

.navigation__item:last-child>.navigation__link,
.navigation__item:nth-last-child(2)>.navigation__link {
    justify-content: flex-end;
}

.navigation__link:hover {
    color: #81b3d2;
}

.navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.link-active:not(:hover),
.link-active:not(:active){
    color: #766357;
}


/* The banner with a title */

.main__banner {
    position: relative;
    width: 100%;
    max-height: 513px;
    min-height: 507px;
    background-image: url("../img/indexBackground.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
}

.main__banner::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../img/indexTitle.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.main__banner::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/mask.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
}


/* Section advantages */

.advantages__slogan {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.advantages__description--slogan {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    line-height: 26px;
}

.advantages__list,
.advantages__other {
    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages__item:first-child,
.advantages__item:nth-last-child(2) {
    width: 100%;
    height: 100%;

    background-color: #81b3d2;
}

.advantages__item:first-child::after {
  content: "";
  display: block;
   width: 70%;
    height: 60px; /*Временно*/

  background-image: url("../img/advantageTown.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0; /*Временно*/
  background-size: cover;
}

.advantages__item:nth-last-child(2)::before{
  content: "";
  display: block;
    width: 70%;
    height: 60px; /*Временно*/

    background-image: url("../img/adventageAttraction.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0; /*Временно*/
    background-size: cover;
}

.advantages__title {
    font-weight: 700;
    font-size: 21px;
    color: #000000;
}

.advantages__title--hotels::before {
    content: "";
    display: block;

    width: 75px;
    height: 72px;

    background-image: url("../img/adventageHostel.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__title--food::before {
    content: "";
    display: block;

    width: 74px;
    height: 70px;

    background-image: url("../img/advantageFood.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__title--gift::before {
    content: "";
    display: block;

    width: 64px;
    height: 76px;

    background-image: url("../img/adventageSouvenir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__item:first-child .advantages__title,
.advantages__item:first-child .advantages__number,
.advantages__item:first-child .advantages__description,
.advantages__item:nth-last-child(2) .advantages__title,
.advantages__item:nth-last-child(2) .advantages__number,
.advantages__item:nth-last-child(2) .advantages__description{
    color: #ffffff;
}


/*Section hotel booking and modal*/


.hotel-booking__caption {
    display: flex;
    justify-content: center;

    width: 100%;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.hotel-booking__description {
    display: inline-block;
    vertical-align: middle;
    text-align: center;


    width: 100%;

    line-height: 24px;
}

.hotel-booking__search {
    display: inline-block;
    vertical-align: middle;
    text-align: center;


    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #766357;

    border: none;
}

.hotel-booking__search:hover {
  background-color: #604e43;
}

.hotel-booking__search:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}

.hotel-booking__label,
.hotel-booking__input {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotel-booking__wrapper {
    width: 50%; /*timeless*/
    position: relative;
}

.hotel-booking__input {
    text-transform: uppercase;

    background-color: #f2f2f2;

    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

.hotel-booking__input:hover {
 background-color: #ebebeb;
}

.hotel-booking__input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.hotel-booking__input--calendar {
    position:absolute;
    right: 0;

    display: block;

    width: 21px;
    height: 22px;

    background-color: transparent;

    border: none;
}

.hotel-booking__input--calendar:hover .hotel-booking__image{
fill: #000000;
}

.hotel-booking__input--calendar:active .hotel-booking__image{
    fill: #81b3d2;
}

.hotel-booking__button {
    background-color: #f2f2f2;
    box-shadow: none;
    border: none;
    position: relative;
}

.hotel-booking__button--min::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}

.hotel-booking__button--max::before {
    content: "";

    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.hotel-booking__button--max::after {
    content: "";
    position: absolute;
    top:25%;
    left: 44.8%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
}

.hotel-booking__button:hover::after,
.hotel-booking__button:hover::before {
    background-color: #000000;
}

.hotel-booking__button:active::after,
.hotel-booking__button:active::before {
    background-color: #81b3d2;
}

.hotel-booking__result {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
    box-shadow: none;
}

.hotel-booking__result:hover {
    background-color: #669ec0;
}

.hotel-booking__result:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}


/*Form order hotel*/

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: 218px; */
   background-image: url("../img/hotelsBackground.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.options__section {
    width: 33.3%;
    border: none;

}

.options__title {
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.options__checkbox {
    display: none;
}

.options__label {
    position: relative;
    color: #ffffff;
}

.options__checkbox + .options__label--checkbox {
    display: block;
}

.options__checkbox + .options__label--checkbox::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border:2px solid #ffffff;
    border-radius: 3px;
}



.options__checkbox:checked + .options__label--checkbox::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 23px;

    background-image: url("../img/formCheckboxOn.svg");
    background-repeat: no-repeat;
}

.options__checkbox:checked + .options__label--checkbox::before {
    opacity: 0;
}
.options__checkbox:hover + .options__label--checkbox::before,
.options__checkbox:focus + .options__label--checkbox::before {
    border:2px solid #ffffff;
}
.options__checkbox:disabled + .options__label--checkbox::before {
    border:2px solid #6a6a6a;
}

.options__checkbox:disabled + .options__label--checkbox::after {
    background-image: url("../img/formCheckboxOff.svg");
    background-repeat: no-repeat;
}


.options__section--cash .options__wrapper {
    position: relative;
    border: 2px solid #ffffff;

}

.options__section--cash .options__wrapper::before {
    content: "";
    position: absolute;
    left:10%; /* temporality */
    width: 2px;
    height: 22px;

    background-color: #ffffff;
}

.options__min-cash,
.options__max-cash {
    color: #ffffff;

    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

.options__cash-range {
    position: relative;
}

.options__cash-scale {
    display: block;
    margin: 30px 0;/*temporality*/

    width: 221px; /*temporality*/
    height: 2px;
    background-color: rgba(255,255,255, 0.3);
}

.options__cash-scale--select {
    width: 80%; /*temporality*/
    height: 2px;

    background-color: #ffffff;
}

.options__toggle {
    position: absolute;
    display: block;

    margin-top: -40px; /*temporality*/
    width: 20px;
    height: 20px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    box-shadow: 0 2px 1px 0 rgba(171,171,171, 0.3);
    border-radius: 50%;
}

.options__toggle--min {
    left: 0;
}

.options__toggle--max {
    right: 0;
}

.options__toggle:hover,
.options__toggle:active {
    width: 22px;
    height: 22px;

    border: 9px solid #ffffff;
}

.options__button {
    text-transform: uppercase;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.options__button:hover,
.options__button:active {
    color: #000000;
    background-color: #ffffff;
}

/*Section result*/
.result__title,
.result__total {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

/*Section sorting*/

.sorting__title {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.sorting__list,
.sorting__result {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sorting__link {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0,0,0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover {
    color: #81b3d2;
}

.sorting__link:active {
    color: #000000;
    border-bottom: none;
}

.sorting__link.link-active {
    color: #81b3d2;
    border-bottom: none;
}

.sorting__result .sorting__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.sorting__button-up,
.sorting__button-down {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 100%;

    background-color: transparent;
    border: none;
}

.sorting__button-down::before {
    content: "";

    position: absolute;
    top: 30%;
    left: 15%;

    display: block;
    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-top: 10px solid #cacaca;
}

.sorting__button-up::before {
    content: "";

    position: absolute;
    bottom: 30%;
    right: 0;

    display: block;
    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-bottom: 10px solid #cacaca;
}

.sorting__button-down:hover::before {
    border-top: 10px solid #000000;
}

.sorting__button-down:active::before {
    border-top: 10px solid #81b3d2;
}

.sorting__button-up:hover::before {
    border-bottom: 10px solid #000000;
}

.sorting__button-up:active::before {
    border-bottom: 10px solid #81b3d2;
}

/*Table hotels*/

.hotels {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.hotels__item {
    border-bottom: 1px solid #e5e5e5;
}

.hotels__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.hotels__item:hover .hotels__title {
    color: #81b3d2;
}

.hotels__item:active .hotels__title {
 color: rgba(0,0,0, 0.3);
}

.hotels__button {
    font-weight: 700;
    color: #ffffff;

}

.hotels__button--preview {
background-color: #81b3d2;
}
.hotels__button--preview:hover {
    background-color: #669ec0;
}
.hotels__button--preview:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

.hotels__button--reserve {
    text-transform: uppercase;

    border: none;
background-color: #766357;
}

.hotels__button--reserve:hover {
    background-color: #604e43;
}
.hotels__button--reserve:active {
    color: rgba(255,255,255, 0.3);
    background-color: #503e33;
}


.hotels__range {
    color: #666666;
    background-color: #f2f2f2;
}

.hotels__range::before {
    content: "";
    display: block;

    width: 100%;
    height: 17px;
    background-image: url("../img/hotelsStar.svg");
    background-repeat: repeat-x;
}

.hotels__range--amara::before {
    width: 32%;
}

.hotels__range--desert::before {
    width: 24%;
}

.hotels__range--poco::before {
    width: 16%;
}




    /*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.footer__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 48px;

    margin-right: 5px;
    margin-bottom: 5px; /*timeless*/

    background-color: #81b3d2;
}

.footer__social-link--tw::before {
    content: "";
    display: block;
    width: 17px;
    height: 15px;

    background-image: url("../img/socialTwitter.svg");
    background-repeat: no-repeat;
}

.footer__social-link--fb::before {
    content: "";
    display: block;
    width: 12px;
    height: 22px;

    background-image: url("../img/socialFacebook.svg");
    background-repeat: no-repeat;
}

.footer__social-link--youtube::before {
    content: "";
    display: block;
    width: 20px;
    height: 16px;

    background-image: url("../img/socialYoutube.svg");
    background-repeat: no-repeat;
}

.footer__social-link:hover {
    background-color: #669ec0;
}

.footer__social-link:active {
    background-color: #5496bd;
    border: none;
}

.footer__social-link:active::before {
    opacity: 0.3;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 120px;

    background-color: rgba(254,254,254, 0.9);
}

.footer__copyright-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer__copyright-description {
   display: block;
width: 50%;
    line-height: 26px;
    color: #000000;
}



.footer__copyright-link:hover .footer__copyright-image {
    fill: #81b3d2;
}

.footer__copyright-link:active .footer__copyright-image {
    fill: #bdbbbc;
}





