
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;

    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", "sans-serif";
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    min-width: 768px;

    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Site navigation */

.navigation {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__logo-link {
    position: absolute;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
}
.navigation__logo-link:hover:not(.link-active) .navigation__logo-image,
.navigation__logo-link:focus .navigation__logo-image {
    width: auto;
    height: 81px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 6%;

    list-style: none;
}

.navigation__item {
    width: 30%;
    height: 56px;
}

.navigation__item:first-child,
.navigation__item:last-child {
    width: 25%;
}

.navigation__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.navigation__item:first-child > .navigation__link,
.navigation__item:nth-child(2) > .navigation__link {
    justify-content: flex-start;
}

.navigation__item:last-child > .navigation__link,
.navigation__item:nth-last-child(2) > .navigation__link {
    justify-content: flex-end;
}

.navigation__item:nth-child(3) > .navigation__link {
    letter-spacing: 0.5px;
}

.navigation__link:hover,
.navigation__link:focus {
    color: #81b3d2;

    outline: none;
}

.navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.link-active:not(:hover),
.link-active:not(:active) {
    color: #766357;
}

/* The banner with a title */

.main__banner {
    position: relative;
    z-index: 1;

    display: block;
    width: 100%;
    min-height: 510px;

    background-color: #88b9d7;
    background-image: url("../img/index-background2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 28.6%;
    background-size: cover;
}

@media (max-width: 1056px) {
    .main__banner {
        min-height: 513px;
    }
}

.main__banner::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../img/index-title.png");
    background-repeat: no-repeat;
    background-position: 50% 47.5%;
}

.main__banner::after {
    content: "";

    position: absolute;
    bottom: -0.13%;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../img/index-mask.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100.2% 60px;
}

/* Section advantages */

.advantages {
    display: block;
    width: 100%;
}

.advantages__slogan {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

@media (max-width: 1056px) {
    .advantages__slogan {
        width: 60%;
        padding-top: 55px;
        padding-bottom: 28px;
    }
}

.advantages__description-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-bottom: 51px;

    line-height: 26px;
    letter-spacing: 0.05px;
}

.advantages__list,
.advantages__other {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    background-color: #eeeeee;

    list-style: none;
}

.advantages__item,
.advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    order: 4;
    width: 33.3%;
    min-height: 256px;
    padding-top: 47px;
}

.advantages__item:first-child,
.advantages__item:nth-child(2) {
    width: 100%;
    height: 100%;
    padding-top: 0;

    background-color: #81b3d2;
}

.advantages__item:first-child {
    order: 1;

    background-image: url("../img/advantage-town.jpg");
    background-repeat: no-repeat;
    background-position: 100% 54%;
    background-size: 66.66% auto;
}

.advantages__item:nth-child(2) {
    justify-content: flex-end;
    order: 3;

    background-image: url("../img/adventage-attraction.jpg");
    background-repeat: no-repeat;
    background-position: 0 53%;
    background-size: 66.66% auto;
}

.advantages__item:last-child {
    order: 2;
    width: 100%;
    min-height: 330px;
    padding-top: 0;

    background-color: #ffffff;
}

.advantages__other {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;

    background-color: #ffffff;
}

.advantages__other-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 33.3%;
}

.advantages__title {
    width: min-content;
    margin: 0 auto;
    padding-bottom: 24px;

    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #000000;
}

.advantages__item:nth-child(2) .advantages__title {
    width: max-content;
}

.advantages__other-item .advantages__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 32%;

    text-align: center;
}

.advantages__title--hotels::before {
    content: "";

    display: block;
    width: 75px;
    height: 72px;
    margin-bottom: 29px;

    background-image: url("../img/adventage-hostel.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__title--food::before {
    content: "";

    display: block;
    width: 75px;
    height: 72px;
    margin-bottom: 29px;

    background-image: url("../img/advantage-food.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__title--gift::before {
    content: "";

    display: block;
    width: 64px;
    height: 76px;
    margin-top: -4px;
    margin-left: 4px;
    margin-bottom: 29px;

    background-image: url("../img/adventage-souvenir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages__number {
    width: 100%;
    padding-bottom: 21px;

    text-align: center;
}

.advantages__description {
    width: 180px;
    margin: 0 auto;

    text-align: center;
}

.advantages__item:nth-last-child(3) .advantages__description {
    width: 149px;
}

@media (min-width: 1056px) {
    .advantages__description,
    .advantages__item:nth-last-child(3) .advantages__description {
        width: 259px;
    }

    .advantages__item:first-child .advantages__description,
    .advantages__item:nth-child(2) .advantages__description {
        width: 303px;
    }
}

.advantages__other-item .advantages__description {
    width: 165px;
    margin: 0 auto;

    text-align: center;
}

.advantages__other-item:nth-last-child(2) .advantages__description {
    width: 152px;
}

@media (min-width: 1056px) {
    .advantages__other-item .advantages__description,
    .advantages__other-item:nth-last-child(2) .advantages__description {
        width: 285px;
    }
}

.advantages__item:first-child .advantages__title,
.advantages__item:first-child .advantages__number,
.advantages__item:first-child .advantages__description,
.advantages__item:nth-child(2) .advantages__title,
.advantages__item:nth-child(2) .advantages__number,
.advantages__item:nth-child(2) .advantages__description {
    color: #ffffff;
}

/*Section hotel booking and modal*/

.hotel-booking {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-booking__caption {
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 24px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.hotel-booking__description {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-bottom: 47px;

    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.hotel-booking__search {
    display: inline-block;
    min-width: 568px;
    min-height: 86px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.hotel-booking__search:hover,
.hotel-booking__search:focus {
    background-color: #604e43;
    outline: none;
}

.hotel-booking__search:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.hotel-booking__modal {
    position: absolute;
    bottom: 0;
    z-index: 100;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 568px;
    padding: 55px;
    padding-top: 54px;

    background-color: #ffffff;

    transform: translate(0%, 100%);
}

.hotel-booking__modal--show {
    display: flex;
}

.hotel-booking__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.hotel-booking__label,
.hotel-booking__input {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.hotel-booking__label {
    display: flex;
    align-items: center;
    width: 24.45%;
    height: 37px;
}

.hotel-booking__label:first-of-type,
.hotel-booking__label:nth-of-type(2){
    letter-spacing: 0.4px;
}

.hotel-booking__label:last-of-type {
    justify-content: flex-end;
    width: 25.5%;
    padding-right: 25px;
}

.hotel-booking__wrapper {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75.55%;
    height: 38px;
    margin-bottom: 30px;

    background-color: #f2f2f2;
}

.hotel-booking__wrapper:nth-last-of-type(2),
.hotel-booking__wrapper:last-of-type {
    width: 25%;
    margin-bottom: 0;
}

.hotel-booking__input {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 13px;

    text-transform: uppercase;

    background-color: #f2f2f2;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.hotel-booking__input::-webkit-outer-spin-button,
.hotel-booking__input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.hotel-booking__input:hover {
    background-color: #ebebeb;
    -moz-appearance: number-input;
    appearance: none;
}

.hotel-booking__input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
    -moz-appearance: number-input;
    appearance: none;
}

.hotel-booking__wrapper:nth-last-of-type(2) .hotel-booking__input,
.hotel-booking__wrapper:last-of-type .hotel-booking__input {
    width: 33.33%;
    padding: 0;

    vertical-align: middle;
    text-align: center;
}

.hotel-booking__input--calendar {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 39px;
    height: 100%;
    padding: 0;
    padding-top: 3px;
    padding-left: 2px;

    background-color: transparent;
    border: none;
}

.hotel-booking__input--calendar:hover .hotel-booking__image {
    fill: #000000;
}

.hotel-booking__input--calendar:active .hotel-booking__image,
.hotel-booking__input--calendar:focus .hotel-booking__image {
    fill: #81b3d2;
    outline: none;
}

.hotel-booking__button {
    width: 33.33%;
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: none;
    border: none;
    position: relative;
    padding: 0;
    padding-bottom: 3px;
}

.hotel-booking__button--min::before {
    content: "";

    display: inline-block;
    width: 12px;
    height: 3px;

    vertical-align: middle;
    text-align: center;

    background-color: #a9a9a9;
}

.hotel-booking__button--max::before {
    content: "";

    display: inline-block;
    width: 11px;
    height: 3px;

    vertical-align: middle;
    text-align: center;

    background-color: #a9a9a9;
}

.hotel-booking__button--max::after {
    content: "";

    position: absolute;
    top: 37%;
    left: 46.3%;

    display: inline-block;
    width: 3px;
    height: 11px;

    vertical-align: middle;
    text-align: center;

    background-color: #a9a9a9;
}

.hotel-booking__button:focus {
    outline: none;
}

.hotel-booking__button:hover::after,
.hotel-booking__button:hover::before {
    background-color: #000000;
}

.hotel-booking__button:active::after,
.hotel-booking__button:active::before,
.hotel-booking__button:focus::after,
.hotel-booking__button:focus::before {
    background-color: #81b3d2;
}

.hotel-booking__result {
    width: 100%;
    height: 58px;
    margin-top: 54px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
    box-shadow: none;
}

.hotel-booking__result:hover,
.hotel-booking__result:focus {
    background-color: #669ec0;
    outline: none;
}

.hotel-booking__result:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

/*Map*/

.map {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 474px;

    overflow: hidden;
}

.map__image {
    min-width: 1200px;
    height: auto;
}

.map__iframe {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    border: none;
}

/*Form order hotel*/

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 26px 6%;
    padding-bottom: 29px;

    background-color: #81b3d2;
    background-image: url("../img/hotels-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 13%;
    background-size: cover;
}

.options__section {
    width: 21.25%;
    margin: 0;
    padding: 0;
}

.options__section:first-child {
    width: 24.2%;
    min-width: 239px
}

.options__section--type-hotel {
   /* width: 45.8%;*/
    flex-grow: 10;
}

.options__section--cash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 31%;
    min-width: 220px;
    margin-top: -5px;
}

.options__fieldset {
    margin: 0;
    padding: 0;
    padding-bottom: 1px;

    border: none;
}

.options__section--cash .options__fieldset {
    width: 100%;
    max-width: 318px;
}

.options__title {
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.options__title:not(.options__title--cash) {
    padding-bottom: 25px;
}

.options__title--cash {
    margin-bottom: 11px;
}

.options__label {
    position: relative;

    letter-spacing: 0.2px;
    color: #ffffff;
}

.options__label--cash {
    display: inline-block;
    width: 50%;
    padding-left: 9%;

    vertical-align: top;
    text-align: center;

    cursor: pointer;
}

.options__label--cash:last-child {
    padding-left: 2.5%;
}

.options__checkbox {
    position: absolute;

    width: 23px;
    height: 23px;

    opacity: 0;
}

.options__checkbox + .options__label--checkbox {
    display: block;
}

.options__checkbox + .options__label--checkbox:not(:last-of-type) {
    margin-bottom: 23px;
}

.options__checkbox + .options__label--checkbox::before {
    content: "";

    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.options__checkbox:checked + .options__label--checkbox::after {
    content: "";

    position: absolute;
    left: 0;

    display: inline-block;
    width: 26px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-image: url("../img/form-checkbox-on.svg");
    background-repeat: no-repeat;
}

.options__checkbox:checked + .options__label--checkbox::before {
    opacity: 0;
}

.options__checkbox:focus + .options__label--checkbox::before {
    border: 2px solid #81b3d2;
}

.options__checkbox:hover + .options__label--checkbox::before {
    border: 2px solid #ffffff;
}

.options__checkbox:disabled + .options__label--checkbox::before {
    border: 2px solid #6a6a6a;
}

.options__checkbox:checked + .options__label--checkbox::after {
    background-image: url("../img/form-checkbox-on.svg");
    background-repeat: no-repeat;
}

.options__checkbox:checked:focus + .options__label--checkbox::after {
    background-image: url("../img/form-checkbox-focus.svg");
    background-repeat: no-repeat;
}

.options__checkbox:checked:hover + .options__label--checkbox::after {
    background-image: url("../img/form-checkbox-on.svg");
    background-repeat: no-repeat;
}

.options__checkbox:disabled + .options__label--checkbox::after {
    background-image: url("../img/form-checkbox-off.svg");
    background-repeat: no-repeat;
}

/*Range-scale for form*/

.options__section--cash .options__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.options__section--cash .options__wrapper::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background-color: #ffffff;
    transform: translate(-50%, -50%);

}

.options__min-cash,
.options__max-cash {
    width: 35px;
    margin: 0;

    text-align: left;
    color: #ffffff;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.options__cash-range {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 31px;
}

.options__cash-scale {
    display: block;
    width: 100%;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.3);
}

.options__cash-scale--select {
    position: relative;
    width: auto;
    height: 2px;
    margin-right: 45px;

    background-color: #ffffff;
}

.options__toggle {
    position: absolute;
    top: -450%;

    display: block;
    width: 20px;
    height: 20px;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
    cursor: pointer;
}

.options__toggle--min {
    left: 0;
}

.options__toggle--max {
    right: 0;
}

.options__toggle:hover,
.options__toggle:active,
.options__toggle:focus {
    width: 22px;
    height: 22px;

    border: 9px solid #ffffff;
    outline: none;
}

.options__button {
    align-self: center;
    width: 137px;
    height: 36px;

    text-transform: uppercase;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3%;
}

.options__button:hover,
.options__button:active,
.options__button:focus {
    color: #000000;

    background-color: #ffffff;
}

/*Section result*/

.result__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87px;
    padding: 0 6%;

    border-bottom: 1px solid #e5e5e5;
}

.result__total {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.result__table-wrapper {
    padding: 0 6%;
    position: relative;
}

/*Section sorting for section result*/

.sorting {
    display: flex;
    align-items: center;
    flex-grow: 10;
}

.sorting__title {
    display: block;
    margin: 0;
    margin-top: 3px;
    margin-left: 47px;

    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

/*@media (min-width: 1056px) {
    .sorting__title {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        overflow: hidden;
    }
}
*/

.sorting__list,
.sorting__result {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 3px;
    padding: 0;

    list-style: none;
}

.sorting__link {
    margin-right: 32px;

    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
}

.sorting__item:first-child .sorting__link {
    margin-left: 40px;
}

.sorting__link:hover {
    color: #81b3d2;
}

.sorting__link:active,
.sorting__link:focus {
    color: #000000;

    border-bottom: none;
    outline: none;
}

.sorting__link.link-active {
    color: #81b3d2;

    border-bottom: none;
}

.sorting__result {
    display: flex;
    justify-content: flex-end;
    flex-grow: 10;
    height: 100%;
    margin: 0;
}

.sorting__result .sorting__item {
    position: relative;

    display: inline-block;
    width: 15px;

    vertical-align: middle;
}

.sorting__button-up,
.sorting__button-down {
    display: inline-block;
    width: 20px;
    height: 100%;

    vertical-align: text-top;

    background-color: transparent;
    border: none;
}

.sorting__button-down::before {
    content: "";

    position: absolute;
    top: 30%;
    left: 15%;

    display: block;
    width: 0;
    height: 0;
    margin-right: 8px;

    border: 6px solid transparent;
    border-top: 10px solid #cacaca;
}

.sorting__button-up::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 15%;

    display: block;
    width: 0;
    height: 0;
    margin-right: 8px;

    border: 6px solid transparent;
    border-bottom: 10px solid #cacaca;
}

.sorting__button-down:hover::before,
.sorting__button-down:focus::before {
    border-top: 10px solid #000000;
}

.sorting__button-down:active::before,
.sorting__button-down.link-active::before {
    border-top: 10px solid #81b3d2;
}

.sorting__button-up:hover::before,
.sorting__button-up:focus::before {
    border-bottom: 10px solid #000000;
}

.sorting__button-up:active::before,
.sorting__button-up.link-active::before {
    border-bottom: 10px solid #81b3d2;
}

/*Table hotels for section result*/

.hotels {
    width: 100%;

    border-collapse: collapse;
}

.hotels__item::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: #e5e5e5;
}

.hotels__item--amara::after {
    bottom: 66.7%;
}

.hotels__item--desert::after {
    bottom: 33.4%;
}

.hotels__cell {
    padding: 30px 0;
    padding-bottom: 31px;

    vertical-align: middle;
    text-align: left;

    white-space: nowrap;
}

.hotels__cell:first-child {
    width: 165px;

    text-align: left;
}

.hotels__cell:last-child {
    text-align: right;
}

.hotels__image {
    display: block;
    width: 135px;
    height: 90px;

    white-space: nowrap;
}

.hotels__title {
    margin: 0;
    margin-top: -5px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
}

.hotels__item:hover .hotels__title {
    color: #81b3d2;
}

.hotels__item:active .hotels__title {
    color: rgba(0, 0, 0, 0.3);
}

.hotels__description {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 15px;
}

.hotels__description__type {
    display: inline-block;
    width: 18%;
    min-width: 113px;

    vertical-align: top;
}

.hotels__description__price {
    letter-spacing: 0.2px;
}

.hotels__button {
    display: inline-block;
    width: max-content;

    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.hotels__button--preview {
    margin-right: 2px;
    padding: 0 17px;
    padding-top: 4px;
    padding-bottom: 2px;

    background-color: #81b3d2;
}

.hotels__button--preview:hover,
.hotels__button--preview:focus {
    background-color: #669ec0;
    outline: none;
}

.hotels__button--preview:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.hotels__button--reserve {
    width: 142px;
    height: 27px;

    text-transform: uppercase;

    background-color: #766357;
    border: none;
}

.hotels__button--reserve:hover,
.hotels__button--reserve:focus {
    background-color: #604e43;
    outline: none;
}

.hotels__button--reserve:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.hotels__range {
    padding: 5px 14px;
    padding-top: 4px;

    color: #666666;

    background-color: #f2f2f2;
}

.hotels__stars {
    display: block;
    margin-bottom: 3px;

    font-size: 0;
}

.hotels__stars::before {
    content: "";

    display: inline-block;
    width: 100%;
    height: 17px;
    margin-top: -3px;
    margin-bottom: 47px;

    vertical-align: top;
    text-align: right;

    background-image: url("../img/hotels-star.svg");
    background-repeat: repeat-x;
}

.hotels__stars--amara::before {
    width: 90px;
}

.hotels__stars--desert::before {
    width: 66px;
}

.hotels__stars--poco::before {
    width: 42px;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer--index {
    position: absolute;
    bottom: 0;
    z-index: 100;

    background-color: rgba(254, 254, 254, 0.9);
}

.footer__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    padding-bottom: 2px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer__social-item:first-child {
    margin-left: -2px;
}

.footer__social-item:not(:last-child){
    margin-right: 6px;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.footer__social-link--tw::before {
    content: "";

    display: block;
    width: 17px;
    height: 15px;

    background-image: url("../img/social-twitter.svg");
    background-repeat: no-repeat;
}

.footer__social-link--fb::before {
    content: "";

    display: block;
    width: 12px;
    height: 22px;

    background-image: url("../img/social-facebook.svg");
    background-repeat: no-repeat;
}

.footer__social-link--youtube::before {
    content: "";

    display: block;
    width: 20px;
    height: 16px;

    background-image: url("../img/social-youtube.svg");
    background-repeat: no-repeat;
}

.footer__social-link:hover,
.footer__social-link:focus {
    background-color: #669ec0;
}

.footer__social-link:active {
    background-color: #5496bd;
    border: none;
}

.footer__social-link:active::before {
    opacity: 0.3;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 120px;
    padding-bottom: 2px;
}

.footer__copyright-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright-description {
    padding-right: 9px;

    line-height: 26px;
    text-align: right;
    color: #000000;
}

.footer__copyright-link:focus {
    outline: none;
}

.footer__copyright-link:hover .footer__copyright-image,
.footer__copyright-link:focus .footer__copyright-image {
    fill: #81b3d2;
}

.footer__copyright-link:active .footer__copyright-image {
    fill: #bdbbbc;
}