@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    font-family: "PT Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    background-color: #ffffff;
}

.navigation__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation__link {
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.navigation__link:hover {
    color: #81b3d2;
}

.navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.link-active {
    color: #766357;
}

.main__welcome {
    display: block;
    width: 100%;
    height: 510px;
    background-image: url("../img/indexBackground.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main__welcome::before {
content: "";
    display: block;
    width: 100%;
    height: inherit;
    background-image: url("../img/indexTitle.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main__welcome::after {
    content: "";
    display: block;
    width: 100%;
    height: inherit;
    background-image: url("../img/indexMask.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

